<!DOCTYPE html>
<html lange="en" xmlns:th="http://www.iora.com" />

<head>
    <title th:remove="all">Template for HTML email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    td,th, tr {
        border: 2px solid #F5F5F5;
        text-align: left;
        padding: 8px;
    }
</style>

<body>
    <div class="grid-container" style="border-radius: 1px;">
        <div style="grid-area: header">
            <img style="height: 120px; width: 200px; margin: auto; display: block;"
                src="https://cloudfront.gotomalls.com/uploads/retailers/logo/LB2fm8vWvnNUmpay-LB2eHKLOVIgO5DTF-iora-1489037898_1.jpg" />
        </div>
        <p th:text="${header}"></p>
        <p>
            <span th:text="${agenda}"></span>
            <span th:text="${#dates.format(dateTime, 'dd-MM-yyyy HH:mm')}">28 12 2012</span>
        </p>
        <br>
        <h3 th:text="${id}"></h3>

        <table id="itemsTable" style="width:80%;">
            <thead>
                <tr style="text-align: left; padding: 8px; ">
                    <th>Product</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="lineItem : ${orderLineItems}" style="text-align: left; padding: 8px;">
                    <td>
                        <p th:text="${lineItem.product.sku}"></p>
                        <span th:each="field : ${lineItem.product.productFields}">
                            <span th:text="${field.fieldName}"></span>
                            <span>:</span>
                            <span th:text="${field.fieldValue}"></span>
                        </span>
                    </td>
                    <td th:text="${lineItem.qty}"></td>
                    <td th:text="${lineItem.subTotal}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="font-weight: bold;">Total</td>
                    <td th:text="${totalAmount}"></td>
                </tr>
            </tbody>
        </table>

    </div>
    <p>
        Best regards, <br />
        <em>iORA Group</em>
    </p>
</body>

</html>